@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");
:root {
  --primary-color: #6854f4;
  --text-light: white;
  --text-dark: black;
  --light-gray: #dbdbdb;
  --dark-gray: #838383;
  --darker-gray: #656464;
}
.App {
  margin-bottom: 5rem;
  font-family: "Inter", sans-serif;
}
button {
  cursor: pointer;
}
